apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      # Scrape Prometheus itself
      - job_name: "prometheus"
        static_configs:
          - targets: ["localhost:9090"]

      # Scrape the Cats vs Dogs inference service
      - job_name: "cats-dogs-classifier"
        scrape_interval: 10s
        static_configs:
          - targets: ["cats-dogs-classifier-service:80"]
        metrics_path: "/metrics"
