apiVersion: v1
kind: Service
metadata:
  name: cats-dogs-classifier-service
  labels:
    app: cats-dogs-classifier
spec:
  type: LoadBalancer
  selector:
    app: cats-dogs-classifier
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
      name: http
